
@charset "UTF-8";

/*背景設定*/
body {
    text-align: center;
}
div {
    text-align: center;
}
label {    
    display:block;
    width: 200px;
    background-color: orangered;
}

table {
    border: 4px solid #ddd;
    margin: auto;
   
}

/*エラー表示背景設定*/

/*ボタン設定*/
button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    font-size: 24px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: darkgray;
}
/*社員ID表示設定*/
