
@charset "UTF-8";


title {
    font-size: 24px;
}
/*背景設定*/
body {
    text-align: center;
}

div {
    text-align: center;
}

p {
    margin: auto;
    display: block;
    text-align: left;
    width: 360px;
    background-color: red;
}
/*テーブル設定*/
table, th, td {
    border: 1px solid;
}

table {
    margin: auto;
}

/*エラー表示背景設定*/
.error {
    text-align: center;
}
/*ボタン設定*/
button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
    font-size: 24px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
}

/*ボタン表示位置設定*/
.insert-btn-Area {
    margin: auto;
}
